################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/UserSettings
/Temp
/obj/Debug
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assignment3.0ForestFireFeatures.sln
